.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  min-width: 700px;
}

.App-link {
  color: #61dafb;
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Navbar {
  background-color: black;
  color: #ffffff;
  padding: 15px;
}

.Navbar-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.Site-logo {

  height: 20px;
  width: 20px;
}

.Admin-login {
  float: right;
  margin-right: 5%;
  display: flex;
}

.text-link {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
}

td, th {
  border: 1px solid rgb(175, 234, 248);
  padding: 8px;
}

tr:nth-child(even){background-color: #dce1e4;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #90d7f3;
  color: rgb(58, 54, 54);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(177, 227, 250);
  color: black;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.popup-inner .admin-yes {
  position: absolute;
  bottom: 16px;
}

.admin-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ion-icon {
  color: rgb(226, 19, 19);
  font-size: 70px;
}